.mendix {
  position: relative;
  line-height: 140%;
  text-shadow: 1.6px 0 0#393b57, 0 1.6px 0#393b57, -1.6px 0 0#393b57,
    0-1.6px 0#393b57;
}
.title {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.p {
  margin: 0;
}
.ai-container {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title1 {
  width: 616px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.mendix1 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description,
.description1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description1 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description {
  flex-direction: column;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.text,
.titlebutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.titlebutton {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.button,
.description-parent,
.title-parent {
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  width: 616px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.description-parent,
.title-parent {
  gap: var(--gap-xl);
}
.description-parent {
  width: 616px;
  display: none;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.img-organization-ceo-2-1-icon {
  width: 360px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.mendix-container {
  width: 703px;
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.mendix-201-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.div7 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 200;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.img-organization-ceo-sign-1-icon {
  width: 217.4px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.frame-group,
.frame-wrapper,
.parent {
  display: flex;
  justify-content: flex-start;
}
.parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.frame-group,
.frame-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper {
  width: 437px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frame-group {
  width: 723px;
  gap: var(--gap-41xl);
}
.img-organization-ceo-2-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  font-size: var(--font-size-xl);
  font-family: var(--font-pretendard-variable);
}
.header-parent,
.instance-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.instance-parent {
  width: 1178px;
  font-size: var(--font-size-45xl);
}
.header-parent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-181xl);
  flex: 1; /* 남은 공간 채우기 */
}
.frame-parent {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding-top: 360px;
  padding-bottom: 600px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}

.company-ceo-message {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
  font-family: var(--font-garet);
}
