.solution-talon-child {
  position: absolute;
  top: 704px;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 7500px;
}
.div122 {
  position: relative;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
}
.text75 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.icon30 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.download {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.talonbutton {
  color: white;
}
.talonbutton,
.texticon,
.texticon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.texticon {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.talonbutton,
.texticon-wrapper {
  width: 289px;
  border-radius: var(--br-xs);
  background-color: var(--Color-Black);
  height: 63px;
  flex-direction: column;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
}
.texticon-wrapper {
  background-color: var(--color-white);
  border: 1px solid var(--Color-Black);
  padding: var(--padding-7xs) 0;
  color: var(--Color-Black);
}
.talonbutton-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.solution-talon-item {
  position: absolute;
  top: 2562px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    var(--color-white)
  );
  width: 1440px;
  height: 2604px;
}
.vanguardlab19 {
  position: relative;
  text-shadow: 0.8px 0 0#393b57, 0 0.8px 0#393b57, -0.8px 0 0#393b57,
    0-0.8px 0#393b57;
  cursor: pointer;
}
.company54 {
  position: relative;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.tap54 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.contain48,
.tap54,
.tap57 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tap57 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.contain48 {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.line-icon9 {
  width: 0.1px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.contain49,
.contain50 {
  justify-content: flex-start;
}
.contain50 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contain49 {
  gap: var(--gap-5xl);
}
.contain49,
.header19,
.taps9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.taps9 {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-mini);
}
.header19 {
  position: absolute;
  height: 80%;
  width: 90.58%;
  top: 10%;
  right: 4.71%;
  bottom: 10%;
  left: 4.72%;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-44xl);
  box-sizing: border-box;
  gap: var(--gap-0);
}
.header18 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 149px;
}
.mendix28 {
  position: relative;
  color: var(--Color-Black, #393B57);
  -webkit-text-stroke-width: 3.2px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: Garet;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 89.6px */
}
.title43,
.title44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.title43 {
  width: 404px;
  height: 330px;
  box-sizing: border-box;
}
.title44 {
  align-self: stretch;
}
.mendix29 {
  width: 595px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  color: var(--Color-Black, #393B57);

  /* pre Light 16_25 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
.description31,
.description32 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description32 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description31 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.div124 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton56 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.button8 {
  width: 616px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.description-parent6,
.title42 {
  display: flex;
  align-items: flex-start;
}
.description-parent6 {
  width: 616px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title42 {
  width: 1176px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-0);
}
.talon {
  margin: 0;
}
.talon-container {
  width: 890px;
  position: relative;
  display: inline-block;
  
  color: var(--Color-Black, #393B57);
  text-align: center;

  /* Gmarket Medium 40_56 */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: "Gmarket Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.icon32 {
  position: absolute;
  height: 75%;
  width: 83.37%;
  top: 12.5%;
  right: 8.26%;
  bottom: 12.5%;
  left: 8.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.book-open {
  width: 92px;
  position: relative;
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
}
.book-open-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-wrapper9 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.div131 {
  position: relative;
  line-height: 36px; /* 120% */
  color: var(--Color-Black, #393B57);
  font-family: "Gmarket Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 120% */
}
.title45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
}
.line12 {
  width: 330px;
  position: relative;
  border-top: 1px solid var(--Color-Line);
  box-sizing: border-box;
  height: 1px;
}
.ceo-mendix2 {
  flex: 1;
  position: relative;
  color: #7C7D84;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.description33,
.title-parent12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description33 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-pretendard-variable);
}
.title-parent12 {
  width: 332px;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frame-parent33,
.shortcard-child,
.shortcard1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent33 {
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.shortcard-child,
.shortcard1 {
  width: 382px;
  align-items: center;
  padding: 0 var(--padding-15xl);
  box-sizing: border-box;
}
.shortcard1 {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--Color-Line);
  padding: var(--padding-31xl) var(--padding-17xl);
}
.icon33,
.icon36,
.icon37 {
  position: absolute;
  height: 75%;
  width: 91.63%;
  top: 12.5%;
  right: 4.24%;
  bottom: 12.5%;
  left: 4.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon36,
.icon37 {
  height: 83.37%;
  width: 66.63%;
  top: 8.37%;
  right: 16.74%;
  bottom: 8.26%;
  left: 16.63%;
}
.icon37 {
  height: 83.8%;
  width: 83.8%;
  top: 7.83%;
  right: 7.83%;
  bottom: 8.37%;
  left: 8.37%;
}
.shortcard-group,
.talon-parent {
  display: flex;
  justify-content: flex-start;
}
.shortcard-group {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 61px 18px;
  font-size: var(--font-size-11xl);
}
.talon-parent {
  width: 1182px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-41xl);
}
.talon1 {
  align-self: stretch;
  position: relative;
  color: var(--Color-Black, #393B57);
  text-align: center;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: "Gmarket Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px; /* 162.5% */
}
.icon38 {
  position: absolute;
  height: 66.75%;
  width: 66.75%;
  top: 16.75%;
  right: 16.5%;
  bottom: 16.5%;
  left: 16.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.corner-down-right {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.mendix-container5 {
  width: 100%;
}
.mendix-container4 {
  width: 719px;
  position: relative;
  display: flex;
  align-items: center;
  height: 72px;
  flex-shrink: 0;
  color: #393B57;
  font-family: "Pretendard Variable";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 123.077% */
}
.contents19 {
  width: 836px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.longcard4 {
  width: 903px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-35xl);
  box-sizing: border-box;
}
.longcard-group,
.talon-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.longcard-group {
  align-self: stretch;
  height: 285px;
  align-items: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  font-family: var(--font-pretendard-variable);
}
.talon-group {
  width: 903px;
  align-items: center;
  gap: var(--gap-21xl);
}
.frame-child,
.frame-item {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue-100);
  height: 7px;
}
.frame-item {
  height: 6px;
}
.ellipse-parent,
.frame-parent39 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ellipse-parent {
  width: 6px;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent39 {
  align-items: center;
  gap: var(--gap-81xl);
  font-size: 48px;
}
.div137 {
  position: relative;
  color: var(--Color-Black, #393B57);
  text-align: center;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;
  font-family: "Gmarket Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 79px; /* 158% */
}
.img-155-icon,
.mockup-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1042.7px;
  height: 600px;
  object-fit: cover;
}
.img-155-icon {
  top: 80px;
  left: 144px;
  border-radius: var(--br-base) var(--br-3xs) var(--br-base) var(--br-base);
  width: 754px;
  height: 430px;
}
.mockup-1-parent {
  width: 1042.7px;
  position: relative;
  height: 600px;
}
.si,
.text84 {
  position: relative;
  line-height: var(--font-size-21xl);
}
.text84 {
  width: 200px;
  display: inline-block;
  height: 40px;
  flex-shrink: 0;
  color: var(--Color-Black, #393B57);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}
.si {
  align-self: stretch;
}
.si-wrapper {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--ColorBlack, #393B57);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}
.talon3 {
  width: 245px;
  position: relative;
  line-height: var(--font-size-21xl);
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
}
.talon-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.frame-wrapper26,
.talon-wrapper,
.text-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper26 {
  width: 287px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--KeyColor2);
}
.text-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-141xl);
}
.tabletitle-child {
  align-self: stretch;
  position: relative;
  height: 0;
}
.tabletitle {
  width: 1027px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon41 {
  position: absolute;
  height: 45.94%;
  width: 66.56%;
  top: 25%;
  right: 16.88%;
  bottom: 29.06%;
  left: 16.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.check-wrapper {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div140 {
  width: 245px;
  position: relative;
  line-height: var(--font-size-21xl);
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent40 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.table-child {
  align-self: stretch;
  position: relative;
  border-top: 1.5px solid var(--color-lavender-100);
  box-sizing: border-box;
  height: 1.5px;
}
.table,
.table1 {
  align-items: flex-start;
}
.table1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.table {
  width: 1027px;
}
.frame-wrapper25,
.parent3,
.table,
.tabletitle-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tabletitle-parent {
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.frame-wrapper25,
.parent3 {
  align-items: center;
}
.parent3 {
  width: 1042.7px;
  gap: 150px;
}
.frame-wrapper25 {
  font-size: 50px;
}
.talon-container1 {
  position: relative;
  color: #393B57;
  text-align: center;
  
  /* Gmarket Medium 40_56 */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #393B57;
  font-family: "Gmarket Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.icon47 {
  position: absolute;
  height: 83.37%;
  width: 83.37%;
  top: 8.37%;
  right: 8.26%;
  bottom: 8.26%;
  left: 8.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon46 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.si1 {
  width: 271px;
  position: relative;
  line-height: var(--font-size-5xl);
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0.2px 0 0#7c7d84, 0 0.2px 0#7c7d84, -0.2px 0 0#7c7d84,
    0-0.2px 0#7c7d84;
}
.description39 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  color: #7C7D84;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #7C7D84;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 150% */
}
.contain51,
.talonbox,
.text85 {
  display: flex;
  flex-direction: column;
}
.text85 {
  width: 297px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.contain51,
.talonbox {
  justify-content: flex-start;
}
.contain51 {
  width: 298px;
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.talonbox {
  width: 346px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--Color-Line);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-17xl);
}
.icon49,
.icon51 {
  position: absolute;
  height: 91.63%;
  width: 50%;
  top: 4.13%;
  right: 25%;
  bottom: 4.24%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon51 {
  height: 83.37%;
  width: 75%;
  top: 8.37%;
  right: 12.5%;
  bottom: 8.26%;
  left: 12.5%;
}
.talon-parent1,
.talonbox-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.talonbox-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
}
.talon-parent1 {
  width: 1078px;
  flex-direction: column;
  gap: var(--gap-61xl);
}
.icon52,
.user {
  overflow: hidden;
}
.icon52 {
  position: absolute;
  height: 75%;
  width: 66.67%;
  top: 12.5%;
  right: 16.67%;
  bottom: 12.5%;
  left: 16.67%;
  max-width: 100%;
  max-height: 100%;
}
.user {
  width: 48px;
  position: relative;
  height: 48px;
  flex-shrink: 0;
}
.profile {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: rgba(224, 194, 194, 0.3);
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
  box-sizing: border-box;
}
.k-container {
  width: 486px;
  position: relative;
  line-height: 25px;
  display: inline-block;
  flex-shrink: 0;
}
.contents22 {
  align-self: stretch;
  width: 506px;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.contain-wrapper2,
.contain54,
.contents22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contain54 {
  gap: var(--gap-5xl);
}
.contain-wrapper2 {
  position: absolute;
  top: 591px;
  left: 209px;
  filter: blur(12px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  padding: var(--padding-4xs) var(--padding-mini);
  box-sizing: border-box;
  opacity: 0.2;
}
.icon53 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile1 {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: #d1bfff;
  height: 82px;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
}
.contain-wrapper3,
.profile1,
.profile2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.contain-wrapper3 {
  position: absolute;
  top: 321px;
  left: 493px;
  filter: blur(12px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
  opacity: 0.2;
}
.profile2 {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: var(--Color-Black);
  height: 82px;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
}
.span {
  font-weight: 300;
}
.contain-wrapper4 {
  position: absolute;
  top: 149px;
  left: 278px;
  filter: blur(12px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
  box-sizing: border-box;
  opacity: 0.2;
}
.div156 {
  position: absolute;
  top: 41px;
  left: 0;
  color: #393B57;

  /* Gmarket Medium 40_56 */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #393B57;
  font-family: "Gmarket Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.contain-wrapper5,
.contain-wrapper6,
.profile4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.contain-wrapper5 {
  position: absolute;
  top: 539px;
  left: 480px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
}
.contain-wrapper6,
.profile4 {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: var(--KeyColor2);
  height: 82px;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
}
.contain-wrapper6 {
  position: absolute;
  top: 41px;
  left: 493px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
}
.icon57 {
  position: absolute;
  height: 83.33%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 8.33%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile5 {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: #89d0a0;
  height: 82px;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
}
.contain-wrapper7,
.profile5,
.profile6,
.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.review {
  position: absolute;
  top: 207px;
  left: 363px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
}
.contain-wrapper7,
.profile6 {
  width: 82px;
  border-radius: var(--br-22xl);
  background-color: var(--Color-Line);
  height: 82px;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-base);
}
.contain-wrapper7 {
  position: absolute;
  top: 373px;
  left: 176px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 682px;
  height: 140px;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
}
.instance-parent3 {
  width: 1180px;
  position: relative;
  height: 793px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-pretendard-variable);
}
.wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  color: var(--Color-Black, #393B57);

  /* Gmarket Medium 40_56 */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: "Gmarket Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.talon9 {
  position: relative;
  line-height: 56px;
  color: var(--Color-Black, #393B57);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 233.333% */
}
.frame-parent46,
.talon-frame {
  display: flex;
  align-items: center;
}
.talon-frame {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.frame-parent46 {
  align-self: stretch;
  height: 118px;
  flex-direction: column;
  justify-content: flex-start;
}
.div-278-icon {
  width: 464px;
  height: 280px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.mendix30 {
  position: relative;
  color: var(--Color-Black, #393B57);
  font-family: "Gmarket Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.mendix-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.icon59 {
  position: absolute;
  height: 45.63%;
  width: 66.88%;
  top: 25%;
  right: 16.25%;
  bottom: 29.37%;
  left: 16.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check5 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.check-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
}
.legacy-container {
  width: 377px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  color: #7C7D84;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 190% */
}
.frame-parent48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-pretendard-variable);
}
.frame-parent47 {
  width: 429px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.div-278-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
}
.frame-parent45,
.frame-wrapper32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper32 {
  width: 1075px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  height: 389px;
  align-items: flex-start;
  padding: var(--padding-31xl) 75px;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.frame-parent45 {
  width: 1180px;
  align-items: center;
  gap: var(--gap-61xl);
  text-align: left;
}
.talon-container2 {
  position: relative;
  color: #FFF;
  text-align: center;

  /* Gmarket Medium 40_56 */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #FFF;
  font-family: "Gmarket Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.talon-container3 {
  position: relative;
  color: #FFF;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.talon-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.div-460-inner,
.frame-parent49,
.talonbutton1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent49 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.div-460-inner,
.talonbutton1 {
  width: 1180px;
  height: 118px;
  align-items: center;
}
.talonbutton1 {
  width: 289px;
  border-radius: var(--br-xs);
  background-color: var(--Color-Black);
  height: 63px;
  justify-content: center;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.icon65 {
  position: absolute;
  height: 82.92%;
  width: 82.92%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.75%;
  left: 8.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phone {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.texticon-container {
  width: 289px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--Color-Black);
  box-sizing: border-box;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) 0;
}
.div-460,
.talonbutton-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
}
.talonbutton-group {
  width: 922px;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
  font-family: var(--font-pretendard-variable);
}
.div-460 {
  width: 1280px;
  background-color: transparent;
  height: 379px;
  flex-direction: column;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  mix-blend-mode: normal;
  max-width: 1280px;
}
.margin-wrap,
.section-459 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.margin-wrap {
  height: 379px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 80px;
}
.section-459 {
  align-self: stretch;
  background-color: #6e788c;
  height: 527px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  mix-blend-mode: normal;
  color: var(--color-white);
}
.frame-parent32 {
  align-items: center;
  gap: var(--gap-181xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-gmarket-sans);
}
.frame-parent32,
.header-parent6,
.title-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title-parent11 {
  align-items: center;
  gap: var(--gap-121xl);
  font-size: var(--font-size-45xl);
}
.header-parent6 {
  align-items: flex-start;
  gap: var(--gap-181xl);
}
.vanguardlab20 {
  position: relative;
  text-shadow: 1.5px 0 0#7e889b, 0 1.5px 0#7e889b, -1.5px 0 0#7e889b,
    0-1.5px 0#7e889b;
}
.div161 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.contain61,
.contents29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.contents29 {
  gap: var(--gap-28xl);
}
.copyright-vanguardlab-all9 {
  width: 396px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.copyrights9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.footer9,
.frame-parent31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer9 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 355px;
  padding: var(--padding-31xl) var(--padding-111xl);
  box-sizing: border-box;
  gap: var(--gap-50xl);
  font-size: var(--font-size-17xl);
  color: var(--color-lightslategray);
}
.main-content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 360px;
  padding-bottom: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--Color-Black);
  font-family: var(--font-garet);
}
.solution-talon {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 8145px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-pretendard-variable);
}
