.vanguardlab6 {
  position: relative;
  text-shadow: 0.8px 0 0#393b57, 0 0.8px 0#393b57, -0.8px 0 0#393b57,
    0-0.8px 0#393b57;
  cursor: pointer;
}
.company18 {
  position: relative;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.tap18 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.contain18,
.tap18,
.tap21 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tap21 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.contain18 {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.line-icon3 {
  width: 0.1px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.contain19,
.contain20 {
  justify-content: flex-start;
}
.contain20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contain19 {
  gap: var(--gap-5xl);
}
.contain19,
.header7,
.taps3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.taps3 {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-mini);
}
.header7 {
  position: absolute;
  height: 80%;
  width: 90.58%;
  top: 10%;
  right: 4.71%;
  bottom: 10%;
  left: 4.72%;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-44xl);
  box-sizing: border-box;
  gap: var(--gap-0);
}
.header6 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 149px;
}
.mendix8 {
  position: relative;
  line-height: 140%;
  text-shadow: 1.6px 0 0#393b57, 0 1.6px 0#393b57, -1.6px 0 0#393b57,
    0-1.6px 0#393b57;
}
.title14 {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.ai-container2 {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title15 {
  width: 616px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.mendix9 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description11,
.description12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description12 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description11 {
  flex-direction: column;
  justify-content: flex-start;
}
.div42 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton14 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.button2 {
  width: 616px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.description-container,
.title-container {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.description-container {
  width: 616px;
  display: none;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.div49 {
  position: relative;
  line-height: var(--font-size-21xl);
  font-weight: 500;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.date {
  width: 104px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.mendix-tier2-container {
  width: 882px;
  position: relative;
  line-height: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.date-parent,
.historylist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.historylist {
  width: 902px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.date-parent {
  gap: var(--gap-15xl);
}
.date-parent,
.history,
.line {
  align-self: stretch;
}
.line {
  position: relative;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
  height: 1px;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.ibm {
  margin: 0;
}
.history-parent {
  width: 856px;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-gmarket-sans);
}
.header-container,
.history-parent,
.instance-parent2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.instance-parent2 {
  width: 1178px;
  align-items: flex-start;
  font-size: var(--font-size-45xl);
}
.header-container {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-181xl);
}
.vanguardlab7 {
  position: relative;
  text-shadow: 1.5px 0 0#7e889b, 0 1.5px 0#7e889b, -1.5px 0 0#7e889b,
    0-1.5px 0#7e889b;
}
.div56 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.contain21,
.contents3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.contents3 {
  gap: var(--gap-28xl);
}
.copyright-vanguardlab-all3 {
  width: 396px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.copyrights3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.footer3,
.frame-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 355px;
  padding: var(--padding-31xl) var(--padding-111xl);
  box-sizing: border-box;
  gap: var(--gap-50xl);
  font-size: var(--font-size-17xl);
  color: var(--color-lightslategray);
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px; /* 헤더 아래로 내용 시작하도록 패딩 추가 */
  gap: var(--gap-21xl);
}
.company-history {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2653px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
  font-family: var(--font-garet);
}
