.references-item {
  position: absolute;
  top: 787px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 2209px;
}
.vanguardlab24 {
  position: relative;
  text-shadow: 1.5px 0 0#7e889b, 0 1.5px 0#7e889b, -1.5px 0 0#7e889b,
    0-1.5px 0#7e889b;
}
.div205 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.contain84 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.telfax-82221035567556612 {
  margin: 0;
}
.contents49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.copyright-vanguardlab-all12 {
  width: 396px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.copyrights12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.footer11 {
  position: absolute;
  top: 5735px;
  left: -1px;
  background-color: var(--color-white);
  width: 1440px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-111xl);
  box-sizing: border-box;
  gap: var(--gap-50xl);
}
.vanguardlab25 {
  position: relative;
  text-shadow: 0.8px 0 0#393b57, 0 0.8px 0#393b57, -0.8px 0 0#393b57,
    0-0.8px 0#393b57;
  cursor: pointer;
}
.company66 {
  position: relative;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.tap66 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.contain85,
.tap66,
.tap69 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tap69 {
  width: 100px;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.contain85 {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.line-icon11 {
  width: 0.1px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.contain86,
.contain87 {
  justify-content: flex-start;
}
.contain87 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contain86 {
  gap: var(--gap-5xl);
}
.contain86,
.header23,
.taps11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.taps11 {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-mini);
}
.header23 {
  position: absolute;
  height: 80%;
  width: 90.58%;
  top: 10%;
  right: 4.71%;
  bottom: 10%;
  left: 4.71%;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-44xl);
  box-sizing: border-box;
  gap: var(--gap-0);
}
.header22 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 149px;
}
.mendix51 {
  position: relative;
  line-height: 140%;
  text-shadow: 1.6px 0 0#393b57, 0 1.6px 0#393b57, -1.6px 0 0#393b57,
    0-1.6px 0#393b57;
}
.title75 {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.ai-container9 {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title76 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.mendix52 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description44,
.description45 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description45 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description44 {
  flex-direction: column;
  justify-content: flex-start;
}
.div206 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton70,
.titlebutton74 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.titlebutton70 {
  display: flex;
}
.titlebutton74 {
  display: none;
}
.button10,
.description-parent8,
.title74 {
  align-items: flex-start;
  justify-content: flex-start;
}
.button10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.description-parent8,
.title74 {
  gap: var(--gap-xl);
}
.description-parent8 {
  width: 616px;
  display: none;
  flex-direction: column;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title74 {
  align-self: stretch;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.general19 {
  position: relative;
  text-shadow: 0.3px 0 0#fff, 0 0.3px 0#fff, -0.3px 0 0#fff, 0-0.3px 0#fff;
}
.general-wrapper15 {
  border-radius: var(--br-8xs);
  background-color: var(--Color-Black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xs);
  color: var(--color-white);
}
.general20 {
  position: relative;
  text-shadow: 0.3px 0 0#393b57, 0 0.3px 0#393b57, -0.3px 0 0#393b57,
    0-0.3px 0#393b57;
}
.overviewbutton2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xs);
}
.instance-parent5 {
  width: 1081px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-wrapper36 {
  align-self: stretch;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.grid1,
.icon69 {
  position: absolute;
  overflow: hidden;
}
.icon69 {
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.grid1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.referencesicon-card1 {
  width: 32px;
  position: relative;
  height: 32px;
}
.referencesicon-card-group,
.referencesicon1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.referencesicon-card-group {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.referencesicon1 {
  width: 1180px;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent55 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.b {
  width: 200px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
}
.textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.b1,
.b2 {
  width: 558px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
}
.b2 {
  width: 240px;
}
.tabletitle1 {
  width: 1160px;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--Color-Black);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-0);
}
.line18 {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--ColorLine2);
  box-sizing: border-box;
  height: 71px;
}
.icon71,
.tag17 {
  justify-content: flex-start;
}
.tag17 {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--KeyColor2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-sm);
}
.icon71 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.pmo1 {
  width: 462px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
}
.text105 {
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--Color-Black);
  font-family: var(--font-pretendard-variable);
}
.table8,
.text105,
.textbox4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textbox4 {
  width: 565px;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-gmarket-sans);
}
.table8 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--ColorLine2);
  box-sizing: border-box;
  height: 70px;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-0);
}
.perfectwin {
  position: relative;
  line-height: var(--font-size-7xl);
  font-weight: 500;
}
.table9,
.tag18,
.tag27 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tag18 {
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-sm);
}
.table9,
.tag27 {
  align-self: stretch;
}
.table9 {
  background-color: var(--color-white);
  border: 1px solid var(--ColorLine2);
  box-sizing: border-box;
  height: 70px;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-0);
  margin-top: -1px;
  position: relative;
}
.tag27 {
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-sm);
}
.table-parent,
.tabletitle-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.table-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--Color-Black);
}
.tabletitle-group {
  width: 1160px;
}
.frame-parent54,
.frame-wrapper37,
.tabletitle-group {
  display: flex;
  flex-direction: column;
}
.frame-wrapper37 {
  width: 1180px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-pretendard-variable);
}
.frame-parent54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1181px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.frame-wrapper35 {
  width: 1181px;
  position: relative;
  height: 1749px;
  font-size: var(--font-size-5xl);
}
.title-parent19 {
  width: 1181px;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-45xl);
}
.contents-group,
.frame-parent53,
.header-parent8,
.title-parent19 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-parent8 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-181xl);
}
.contents-group,
.frame-parent53 {
  align-items: flex-start;
}
.contents-group {
  align-self: stretch;
  background-color: var(--color-white);
  height: 355px;
  padding: var(--padding-31xl) var(--padding-111xl);
  box-sizing: border-box;
  gap: var(--gap-50xl);
  font-size: var(--font-size-17xl);
  color: var(--color-lightslategray);
}
.frame-parent53 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1441px;
  gap: var(--gap-281xl);
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
}
.references1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2983px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-lightslategray);
  font-family: var(--font-garet);
}
