.service-perfectwin-child {
  position: absolute;
  top: 4722px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 1814px;
}
.mendix22 {
  position: relative;
  line-height: 140%;
  text-shadow: 1.6px 0 0#393b57, 0 1.6px 0#393b57, -1.6px 0 0#393b57,
    0-1.6px 0#393b57;
}
.title27 {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.p43 {
  margin: 0;
}
.ai-container5 {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.mendix23 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description19,
.description20 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description20 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description19 {
  flex-direction: column;
  justify-content: flex-start;
}
.div83 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton35,
.titlebutton40 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.titlebutton35 {
  display: flex;
}
.titlebutton40 {
  display: none;
}
.button5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.button5,
.description-parent3,
.title26 {
  display: flex;
  align-items: flex-start;
}
.description-parent3 {
  width: 616px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title26 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-0);
}
.img-perfecttwin1-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.img-perfecttwin1-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 176px;
  mix-blend-mode: multiply;
}
.mendix-faq2 {
  position: relative;
  line-height: 56px;
  font-weight: 500;
  text-shadow: 0.4px 0 0#393b57, 0 0.4px 0#393b57, -0.4px 0 0#393b57,
    0-0.4px 0#393b57;
}
.title29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.q17 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 500;
}
.div90,
.text57 {
  display: flex;
  align-items: center;
}
.div90 {
  width: 681px;
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 500;
  height: 37px;
  flex-shrink: 0;
}
.text57 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.chevron-right-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.chevron8 {
  width: 30px;
  position: relative;
  height: 30px;
}
.q16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
}
.microflow-domain2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 33px;
}
.a4,
.contents14,
.faq12 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.a4 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-15xl);
  color: var(--color-gray-300);
}
.contents14,
.faq12 {
  flex-direction: column;
}
.contents14 {
  align-items: flex-start;
  gap: var(--gap-31xl);
}
.faq12 {
  border-radius: var(--br-mid);
  background-color: var(--color-white);
  align-items: center;
  padding: var(--padding-7xl) var(--padding-43xl) var(--padding-31xl);
}
.chevron-right6,
.icon22 {
  position: absolute;
  overflow: hidden;
}
.icon22 {
  height: 50%;
  width: 25%;
  top: 25%;
  right: 37.33%;
  bottom: 25%;
  left: 37.67%;
  max-width: 100%;
  max-height: 100%;
}
.chevron-right6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.faq22 {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-white);
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xl) var(--padding-43xl);
  box-sizing: border-box;
}
.faq6,
.faqlist2 {
  align-self: stretch;
  align-items: flex-start;
}
.faqlist2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-pretendard-variable);
}
.faq6 {
  gap: var(--gap-61xl);
}
.faq6,
.frame-parent18,
.header-parent3,
.title-parent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent18 {
  width: 1040px;
  align-items: flex-start;
  gap: 380px;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-gmarket-sans);
}
.header-parent3,
.title-parent3 {
  align-items: center;
}
.title-parent3 {
  width: 1176px;
  gap: var(--gap-121xl);
  font-size: var(--font-size-45xl);
}
.header-parent3 {
  align-self: stretch;
  gap: var(--gap-181xl);
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px; /* 헤더 아래로 내용 시작하도록 패딩 추가 */
  gap: var(--gap-21xl);
}
.service-perfectwin {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
  font-family: var(--font-garet);
}
