.service-system-integration-child {
  position: absolute;
  top: 704px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 1820px;
}
.integration {
  margin: 0;
}
.mendix26 {
  position: relative;
  line-height: 140%;
  text-shadow: 1.6px 0 0#393b57, 0 1.6px 0#393b57, -1.6px 0 0#393b57,
    0-1.6px 0#393b57;
}
.title35 {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.ai-container6 {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title36 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.mendix27 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description24,
.description25 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description25 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description24 {
  flex-direction: column;
  justify-content: flex-start;
}
.div104 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton49,
.titlebutton54 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.titlebutton49 {
  display: flex;
}
.titlebutton54 {
  display: none;
}
.button7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.button7,
.description-parent5,
.title34 {
  display: flex;
  align-items: flex-start;
}
.description-parent5 {
  width: 616px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title34 {
  width: 1176px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-0);
}
.number,
.number-wrapper {
  display: flex;
  align-items: center;
}
.number {
  width: 33px;
  border-radius: var(--br-22xl);
  background-color: var(--Color-Black);
  height: 33px;
  flex-direction: column;
  justify-content: center;
}
.number-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icon25 {
  position: absolute;
  height: 83.28%;
  width: 83.38%;
  top: 8.36%;
  right: 8.24%;
  bottom: 8.36%;
  left: 8.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.server {
  width: 68px;
  position: relative;
  height: 67px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent22,
.server-wrapper {
  display: flex;
  flex-direction: column;
}
.server-wrapper {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.frame-parent22 {
  width: 331px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.div112 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 500;
}
.title37 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
}
.line7 {
  width: 330px;
  position: relative;
  border-top: 1px solid var(--Color-Line);
  box-sizing: border-box;
  height: 1px;
}
.li {
  margin-bottom: 0;
}
.ceo-mendix {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.ceo-mendix-container {
  flex: 1;
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#7c7d84, 0 0.2px 0#7c7d84, -0.2px 0 0#7c7d84,
    0-0.2px 0#7c7d84;
}
.description26,
.title-parent6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description26 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.title-parent6 {
  width: 332px;
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--Color-Black);
  font-family: var(--font-gmarket-sans);
}
.frame-parent21,
.shortcard,
.shortcard-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent21 {
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.shortcard,
.shortcard-inner {
  width: 382px;
  align-items: center;
  padding: 0 var(--padding-15xl);
  box-sizing: border-box;
}
.shortcard {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--Color-Line);
  padding: var(--padding-11xl) var(--padding-17xl) var(--padding-31xl);
}
.icon26,
.icon27,
.icon28,
.icon29 {
  position: absolute;
  height: 83.28%;
  width: 75%;
  top: 8.36%;
  right: 12.5%;
  bottom: 8.36%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon27,
.icon28,
.icon29 {
  height: 50%;
  width: 91.62%;
  top: 25.07%;
  right: 4.26%;
  bottom: 24.93%;
  left: 4.12%;
}
.icon28,
.icon29 {
  height: 75.07%;
  top: 12.54%;
  bottom: 12.39%;
}
.icon29 {
  height: 91.64%;
  top: 4.18%;
  bottom: 4.18%;
}
.shortcard-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-pretendard-variable);
}
.header-parent5,
.title-parent5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title-parent5 {
  width: 1186px;
  gap: var(--gap-121xl);
  font-size: var(--font-size-45xl);
}
.header-parent5 {
  align-self: stretch;
  gap: var(--gap-181xl);
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px; /* 헤더 아래로 내용 시작하도록 패딩 추가 */
  gap: var(--gap-21xl);
}
.service-system-integration {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
  font-family: var(--font-garet);
}
