.references-child {
  position: absolute;
  top: 807px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 2209px;
}
.mendix32 {
  position: relative;
  color: var(--Color-Black, #393B57);
  -webkit-text-stroke-width: 3.2px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: Garet;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 89.6px */
}
.title55 {
  width: 404px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.ai-container8 {
  position: relative;
  line-height: var(--font-size-11xl);
  font-weight: 600;
}
.title56 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.mendix33 {
  width: 595px;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.description42,
.description43 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.description43 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
}
.description42 {
  flex-direction: column;
  justify-content: flex-start;
}
.div163 {
  position: relative;
  line-height: var(--font-size-13xl);
  font-weight: 300;
  text-shadow: 0.2px 0 0#393b57, 0 0.2px 0#393b57, -0.2px 0 0#393b57,
    0-0.2px 0#393b57;
}
.titlebutton63,
.titlebutton67 {
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.titlebutton63 {
  display: flex;
}
.titlebutton67 {
  display: none;
}
.button9,
.description-parent7,
.title54 {
  align-items: flex-start;
  justify-content: flex-start;
}
.button9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs) var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-gmarket-sans);
}
.description-parent7,
.title54 {
  gap: var(--gap-xl);
}
.description-parent7 {
  width: 616px;
  display: none;
  flex-direction: column;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pretendard-variable);
}
.title54 {
  align-self: stretch;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.general5 {
  position: relative;
  color: var(--Color_Black, #393B57);
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: var(--Color_Black, #393B57);
  font-family: Garet;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.general-wrapper2 {
  border-radius: var(--br-8xs);
  background-color: var(--Color-Black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xs);
  color: var(--color-white);
}
.general6 {
  position: relative;
  color: var(--Color-Black, #393B57);
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: var(--Color-Black, #393B57);
  font-family: Garet;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.overviewbutton1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-2xs);
}
.instance-parent4 {
  width: 1081px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-wrapper34 {
  align-self: stretch;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.grid,
.icon67 {
  position: absolute;
  overflow: hidden;
}
.icon67 {
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.grid {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.referencesicon-card {
  width: 32px;
  position: relative;
  height: 32px;
}
.referencesicon,
.referencesicon-card-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.referencesicon-card-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.referencesicon {
  width: 1180px;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.x-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.client {
  width: 150.5px;
  position: relative;
  height: 19.5px;
}
.mendix34 {
  position: relative;
  line-height: var(--font-size-7xl);
  font-weight: 500;
}
.tag,
.title57 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tag {
  border-radius: var(--br-11xl);
  background-color: var(--KeyColor2);
  display: none;
  padding: var(--padding-11xs) var(--padding-sm);
}
.title57 {
  align-self: stretch;
  display: flex;
  padding: var(--padding-3xs);
  gap: var(--gap-47xl);
  font-family: var(--font-gmarket-sans);
}
.txt4 {
  width: 100%;
}
.contents31,
.div170 {
  display: flex;
  align-items: center;
}
.div170 {
  width: 258px;
  position: relative;
  line-height: 31px;
  height: 107px;
  flex-shrink: 0;
}
.contents31 {
  align-self: stretch;
  height: 117px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--Color-Black);
}
.div171 {
  position: relative;
  line-height: var(--font-size-7xl);
}
.contain66,
.date7 {
  align-self: stretch;
  display: flex;
  padding: var(--padding-3xs);
}
.date7 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--ColorLine2);
}
.contain66 {
  height: 242px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  gap: var(--gap-0);
}
.div174,
.referencesbox2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.referencesbox2 {
  width: 370px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender-300);
  box-sizing: border-box;
  height: 245px;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
}
.div174 {
  width: 258px;
  position: relative;
  line-height: 31px;
  height: 107px;
  flex-shrink: 0;
}
.frame-parent51,
.referencesbox2-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.referencesbox2-parent {
  align-self: stretch;
  height: 1714px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-21xl) 25px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-pretendard-variable);
}
.frame-parent51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1181px;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.frame-wrapper33 {
  width: 1181px;
  position: relative;
  height: 1939px;
  font-size: var(--font-size-5xl);
}
.title-parent18 {
  width: 1181px;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-45xl);
}
.frame-parent50,
.header-parent7,
.title-parent18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-parent7 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-181xl);
}
.frame-parent50 {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 360px;
  padding-bottom: 600px;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
  color: var(--Color-Black);
}
.references {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-lightslategray);
  font-family: var(--font-garet);
}
.telfax-82221035567556610 {
  margin: 0;
}
